# Google Sheets CSV URL (publicar tu hoja como CSV)
# En Google Sheets: Archivo > Compartir > Publicar en la web > CSV
# El formato es: https://docs.google.com/spreadsheets/d/e/XXXXX/pub?output=csv
GOOGLE_SHEETS_CSV_URL=https://docs.google.com/spreadsheets/d/e/TU-ID-AQUI/pub?output=csv
VITE_GOOGLE_SHEETS_CSV_URL=https://docs.google.com/spreadsheets/d/e/TU-ID-AQUI/pub?output=csv
