PUBLIC_SITE_URL=https://dianasaravia.uy
PUBLIC_WHATSAPP_NUMBER=59899149389
PUBLIC_WHATSAPP_DEFAULT_MSG="Hola Diana, quería visitar la galería / consultar por una obra."
PUBLIC_ANALYTICS_PROVIDER=none
PUBLIC_GA4_ID=
RESEND_API_KEY=
CONTACT_TO_EMAIL=galeriadianasaravia@gmail.com
CONTACT_FROM_EMAIL=web@dianasaravia.uy
